body{
    background-color: rgb(34, 34, 34);
    font-family: 'Satoshi', sans-serif;

}
i{
    font-family: 'Stardom', sans-serif;
    color: gray;
    opacity: 0.5;
}

.caja{
    color: white;
    opacity: 0.9;
    border: 2px solid rgba(50, 50, 50, 0.2);
    border-radius: 20px;
    padding: 50px;
    height: 50%;

}
.caja.a{
    width: 39%;
}
.caja.b{
    width: 30%;

}
.caja_flex{
    display: flex;
    height: 100vh;
    gap: 30px;

    justify-content: center;
    align-items: center;
}

.caja_i{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 30px;
    word-break: break-all;
    min-width: 100%;
    overflow: auto;
    height: 100%;
}

#span{
    opacity: 100%;
    color: gray;
}

input[class="inputs"]{
    background: rgba(0, 0, 0, 0.1);
    color: white;
    opacity: 0.9;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}
input:focus{
    outline: none;
}

.envio{
    background: rgba(0, 0, 0, 0.1);
    color: white;
    opacity: 0.9;
    border: 0px;
    border-radius: 10px;
    padding: 10px;
}

.envio:hover{
    opacity: 0.5;
}

.envio.c{
    background: rgba(255, 110, 110, 1);
}

.form_caja{

    margin: 10px;

}
form{

    margin: 0 auto;
}

.miniflex{
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.card{
    background: rgba(0, 0, 0, 0.1);
    border: 0px;
    margin-top: 20px;
}

